<div class="challenge-banner text-sm-center d-flex align-items-end">
  <div class="ms-4">
    <h1><strong>	Well Done! You've Completed <br>Today's Challenge!</strong></h1>

    <div></div>
  </div>
</div>

<div class="container">


  Keep the creativity flowing

  <%= link_to "Check your journey so far" , dashboard_path, class: "preference-button btn rounded-pill" %>
</div>

<div class="container"></div>
<%# adding a comment to check %>
