<h1>Let's see what you made</h1>

<%= simple_form_for [@challenge, @user_challenge] do |f| %>
  <%# <% if @challenge.category == "Creative Writing"%>
  <%= f.input :challenge_text %>
  <%# <% elsif @challenge.category == "Crafting" %>
  <%# <% f.input :photo %> %>
  <%# <% else %>
  <%# <% f.input :photo %> %>
  <%# <% end %> %>
  
<% end %>
