<div class="container preferences-body" data-controller="preferences">
  <div class="text-center my-2">
    <h1 data-preferences-target="tagline">Fit this challenge into your routine and set the right time for you!</h1>
    <h1 class="challenge-tagline d-none d-sm-block">What's your vibe? Pick your challenge type!</h1>
  </div>

  <div>
    <%= render "shared/form_preferences", user: @user %>
  </div>
</div>
