<div class="container preferences-body">
  <div class="text-center my-3">
    Welcome, <%= current_user.first_name %>
    <h1>Fit this challenge into your routine and set the right time for you!</h1>
  </div>

  <div>
    <%= render "shared/form_preferences", user: @user %>
  </div>
</div>
