<%= bootstrap_form_for(@user) do |f| %>
  <div class="row">
    <div class="col-sm-6" id="length-preferences" data-preferences-target="length">
      <div class="card my-2">
        <div class="card-body text-center">
          <h3 class="d-grid gap-4" data-action="click->preferences#showLengthButton">
            <input type="radio" class="btn-check" name="user[length_preference]" value="6 minutes" id="6-minutes" autocomplete="off">
            <label class="p-button btn btn-outline-secondary rounded-3 d-flex justify-content-between align-items-center" for="6-minutes">
              <i class="fa-solid fa-hourglass-half fa-4x text-dark" id="form-icon"></i>
              <div class="text-start">
                <strong style="color: black;">6 minutes<br></strong>
                Lorem Ipsum is simply <br>dummy text of the printing <br>and typesetting industry
              </div>
              <div></div>
            </label>

            <input type="radio" class="btn-check" name="user[length_preference]" value="14 minutes" id="14-minutes" autocomplete="off">
            <label class="p-button btn btn-outline-secondary rounded-3 d-flex justify-content-between align-items-center" for="14-minutes">
              <i class="fa-solid fa-hourglass-half fa-4x text-dark" id="form-icon"></i>
              <div class="text-start">
                <strong style="color: black;">14 minutes<br></strong>
                Lorem Ipsum is simply <br>dummy text of the printing <br>and typesetting industry
              </div>
              <div></div>
            </label>

            <input type="radio" class="btn-check" name="user[length_preference]" value="32 minutes" id="32-minutes" autocomplete="off">
            <label class="p-button btn btn-outline-secondary rounded-3 d-flex justify-content-between align-items-center" for="32-minutes">
              <i class="fa-solid fa-hourglass-half fa-4x text-dark" id="form-icon"></i>
              <div class="text-start">
                <strong style="color: black;">32 minutes<br></strong>
                Lorem Ipsum is simply <br>dummy text of the printing <br>and typesetting industry
              </div>
              <div></div>
            </label>
          </h3>
        </div>
        <span class="text-center" data-action="click->preferences#loadCategory">
          <h1><i class="icon-tick fa-solid fa-circle-check" data-preferences-target="lengthTick"></i></h1>
        </span>
      </div>
    </div>

    <div class="col-sm-6" id="category-preferences" data-preferences-target="category">
      <h1 class="d-sm-none">What's your vibe? Pick your challenge type!</h1>
      <div class="card my-2">
        <div class="card-body text-center">
          <h3 class="d-grid gap-4" data-action="click->preferences#categoryIntoView">
            <input type="radio" class="btn-check" name="user[category_preference]" value="Crafting" id="crafting" autocomplete="off">
            <label class="p-button btn btn-outline-secondary rounded-3 d-flex justify-content-between align-items-center" for="crafting">
              <i class="fa-solid fa-paintbrush fa-4x text-dark" id="form-icon"></i>
              <div class="text-start">
                <strong style="color: black;">Crafting<br></strong>
                Lorem Ipsum is simply <br>dummy text of the printing <br>and typesetting industry
              </div>
              <div></div>
            </label>

            <input type="radio" class="btn-check" name="user[category_preference]" value="Creative Writing" id="creative-writing" autocomplete="off">
            <label class="p-button btn btn-outline-secondary rounded-3 d-flex justify-content-between align-items-center" for="creative-writing">
              <i class="fa-solid fa-book-open fa-4x text-dark" id="form-icon"></i>
              <div class="text-start">
                <strong style="color: black;">Creative Writing<br></strong>
                Lorem Ipsum is simply <br>dummy text of the printing <br>and typesetting industry
              </div>
              <div></div>
            </label>

            <input type="radio" class="btn-check" name="user[category_preference]" value="Creative Lesson" id="creative-lesson" autocomplete="off">
            <label class="p-button btn btn-outline-secondary rounded-3 d-flex justify-content-between align-items-center" for="creative-lesson">
              <i class="fa-solid fa-circle-play fa-4x text-dark" id="form-icon"></i>
              <div class="text-start">
                <strong style="color: black;">Creative Lesson<br></strong>
                Lorem Ipsum is simply <br>dummy text of the printing <br>and typesetting industry
                </div>
              <div></div>
            </label>
          </h3>
        </div>
        <span class="text-center" data-action="click->preferences#loadUpdate"><h1>
          <i class="icon-tick fa-solid fa-circle-check" data-preferences-target="categoryTick"></i></h1>
        </span>
      </div>
    </div>
  </div>
  <div class="form-update text-center my-2" data-preferences-target="update">
    <%= f.submit "Set My Preferences", class: "btn btn-primary btn-lg rounded-pill" %>
  </div>
<% end %>
