<div class="my-4">
  <%= link_to current_user.category_preference, edit_user_path(current_user), class: "preference-button btn rounded-pill" %>
  <%= link_to "#{current_user.length_preference} mins" , edit_user_path(current_user), class: "preference-button btn rounded-pill" %>
</div>
