
<div class="text-center">
<h1>Morning<br>
Burrito
</h1>

  <div class="p-3"></div>

  <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>


  <div class="p-3"></div>

<p>Lorem ipsum dolor sit amet
Lorem ipsum dolor sit amet,<br>
 consectetur adipiscing elit, sed do <br>
 eiusmod tempor incididunt ut <br>
 labore et dolore magna aliqua.
</p>


  <div class="p-3"></div>

  <a class="btn btn-primary disabled" aria-disabled="true" role="button" data-bs-toggle="button">let's create together</a>
  <%= link_to "Let's create together", daily_challenge_path, class: "btn btn-primary" %>
