<div class="my-5">
  <h1>
    <strong>
      We love a good<br>
      <%= challenge.name %>
    </strong>
  </h1>
</div>

<div class="my-5">
  <h4><strong>Description</strong></h4>
  <%= challenge.description %>
</div>

<div class="my-4">
  <h5><strong>Spicy Push <i class="fa-solid fa-caret-down fa-xl mx-3"></i></strong></h5>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
</div>

<div class="my-5">
  <p><i class="fa-regular fa-heart me-2"></i>Most favourited challenge this week</p>
  <p><i class="fa-solid fa-fire-flame-curved me-2"></i>This challenge has been completed by your friend NAME</p>
</div>
