<<div class="challenge-banner text-sm-center d-flex align-items-end">
  <div class="ms-4">
    <h1><strong>	Well Done! You’ve Completed <br>Your First Challenge!</strong></h1>

    <div>
      <%= render "shared/preference_buttons" %>
    </div>
  </div>
</div>

<div class="container">
  <%= render "shared/challenge_info" %>

  <div class="d-grid gap-2 col-6 mx-auto my-4">
    <%= link_to "Time to Create!", new_challenge_user_challenge_path(@challenge), class: "show-button btn btn-lg rounded-pill"%>
  </div>
</div>
