<div class="challenge-banner text-sm-center d-flex align-items-end">
  <div class="ms-4">
    <h1><strong>Your Creative Boost <br>is Served</strong></h1>

    <div>
      <%= render "shared/preference_buttons" %>
    </div>
  </div>
</div>

<div class="container">
  <%= render "challenges/challenge_info", challenge: @challenge %>

  <div class="d-grid gap-2 col-6 mx-auto my-4">
    <%#= link_to "Time to Create!", new_challenge_user_challenge_path(@challenge), class: "show-button btn btn-lg rounded-pill"%>
    <%= simple_form_for [@challenge, @user_challenge] do |f| %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
