<div class="challenge-banner">
  <div class="text-center">
    <h1>Your Creative Boost is Served</h1>

    <div class="d-flex justify-content-center">
      <div>
        <%=@challenge.category  %>
      </div>
      <div>
        progression
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= render "shared/challenge_info" %>

  <div class="d-grid gap-2 col-6 mx-auto">
    <%= link_to "Time to Create!", new_challenge_user_challenge_path(@challenge), class: "show-button btn btn-lg rounded-pill"%>
  </div>
</div>
