.challenge-banner {
  background-color: #FDEDAD;
  height: 30vh;
  border-radius: 0 0 30px 30px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.navbar-banner {
  background-color: #FDEDAD;
}
