.card {

  .icon-tick {
    opacity: 0;
    transition: opacity 1s;
  }

  .icon-tick.visible {
    opacity: 1;
  }
}

#category-preferences {
  opacity: 0;
  transition: opacity 1s;
}

#category-preferences.visible {
  opacity: 1;
}
